body 
{
	direction: rtl;
	background-color: #353535;
	font-family: 'OpenSans', sans-serif;
	font-weight: lighter;
	background-repeat: no-repeat;
	background-image: url(../images/LOGO.svg);
	background-size: 13% auto;
	background-attachment: fixed;
	background-position: bottom;
}
#container
{
	color: white;
	font-size: 20pt;
	width: 1070px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: 1px solid #D1A6FF;
	padding-right: 65px;
	padding-left: 65px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#menu {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#menu ul {
	height: 72px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#menu ul li {
	float: right;
}
#menu a {
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 72px;
	text-decoration: none;
	display: block;
}
#menu a:hover {
	color: #D1A6FF;
	border-top: 5px solid rgba(0,0,0,0.0);
	line-height: 62px;
	height: 62px;
}
#menu ul img {
	padding-left: 320px;
	padding-top: 6px;
}
#menu_box {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	background-color: rgba(255,255,255,0.15);
}
#menu_page {
	color: #D1A6FF;
}
/* Overline Reveal */
.hvr-overline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  height: 5px;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-reveal:hover:before, .hvr-overline-reveal:focus:before, .hvr-overline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
h1
{
	font-size: 45pt;
	color: white;
	text-align: center;
	margin-top: 92px;
	font-weight: lighter;
}
#rightBlock
{
	float: right;
}
h2
{
	font-size: 30pt;
	color: #D1A6FF;
	font-weight: lighter;
}
#container p
{
	margin-top: 5px;
}
.myImg
{
	float: left;
}
.myImg, .myImg2
{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.myImg:hover, .myImg2:hover
{
	-moz-transform: scale(1.7) rotate(8deg);
	-webkit-transform: scale(1.7) rotate(8deg);
	-o-transform: scale(1.7) rotate(8deg);
	-ms-transform: scale(1.7) rotate(8deg);
	transform: scale(1.7) rotate(8deg);
}
.clear
{
	clear: both;
}
#leftBlock
{
	float: left;
}
#icon1, #icon2, #icon3, #icon4
{
	background-image: url(../images/contact_sprite.svg);
	background-size: 250px;
	width: 110px;
	height: 110px;
	float: right;
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#icon1, #icon2, #icon3, #icon4
{
	margin-right: 125px;
}
#icon1:hover, #icon2:hover, #icon3:hover, #icon4:hover
{
	background-image: url(../images/contact_sprite_hover.svg);
	background-size: 250px;
	width: 110px;
	height: 110px;
	-moz-transform: scale(1.4) rotate(16deg);
	-webkit-transform: scale(1.4) rotate(16deg);
	-o-transform: scale(1.4) rotate(16deg);
	-ms-transform: scale(1.4) rotate(16deg);
	transform: scale(1.4) rotate(16deg);
}
#icon1
{
	background-position: 98% 0%;
}
#icon2
{
	background-position: 2% 99.5%;
}
#icon3
{
	background-position: 0% 0%;
}
#icon4
{
	background-position: 100% 99.5%;
}